<!--
<%= stylesheet_tags %>
<%= javascript_include_tag 'jquery-1.3.2.min', 'jquery.validate.min.js', :cache => 'jquery-core' %>
<% unless I18n.locale.to_s[0..1] == 'en' -%>
  <%= javascript_include_tag ['localization/messages_', I18n.locale.to_s[0..1], '.js'].join %>
<% end -%>  
!-->

<meta http-equiv="content-type" content="text/html; charset=UTF-8" /> 
<%= meta_data_tags %>  
<script type="text/javascript" src="http://www.lifeofstrange.com/envirashop/wp-content/themes/enVirashop/js/jquery.js"></script> 
<script type="text/javascript" src="http://www.lifeofstrange.com/envirashop/wp-content/themes/enVirashop/js/execute.js"></script> 
<script type="text/javascript" src="http://www.lifeofstrange.com/envirashop/wp-content/themes/enVirashop/js/simpleCart.js"></script> 
<script type="text/javascript" src="http://www.lifeofstrange.com/envirashop/wp-content/themes/enVirashop/js/jquery.jcarousel.pack.js"></script> 
<script type="text/javascript" src="http://www.lifeofstrange.com/envirashop/wp-content/themes/enVirashop/js/yahoo-dom-event.js"></script> 
<script type="text/javascript" src="http://www.lifeofstrange.com/envirashop/wp-content/themes/enVirashop/js/animation-min.js"></script> 
<script type="text/javascript" src="http://www.lifeofstrange.com/envirashop/wp-content/themes/enVirashop/js/main-javascript.js"></script> 
	
 
<link rel="stylesheet" type="text/css" href="http://www.lifeofstrange.com/envirashop/wp-content/themes/enVirashop/includes/fancybox/jquery.fancybox-1.2.6.css" media="screen" /> 
<script type="text/javascript" src="http://www.lifeofstrange.com/envirashop/wp-content/themes/enVirashop/includes/fancybox/jquery.fancybox-1.2.6.pack.js"></script> 
 
 
<script type="text/javascript"> 
 
CartItem.prototype.shipping=function(){
	
	
	if(this.specifications){
		if( this.specifications == '2 Gig' ){
			return this.quantity*10.00;
		} else if( this.specifications == '4 Gig') {
			return this.quantity*15.00;
		} else if( this.specifications == '6 Gig') {
			return this.quantity*20.00;
		} else if( this.specifications == '12 Gig') {
			return this.quantity*30.00;
		} else {
			return this.quantity*10.00;
		}
	} else {
 
		return this.quantity*2.00;
	}
}
 
	simpleCart.email = "example@paypal.com"	
	simpleCart.checkoutTo = PayPal;
		
	simpleCart.currency = USD;
	
	
	
		
	simpleCart.cartHeaders = ["Name" , "Specifications", "Price" , "decrement_noHeader" , "Quantity", "increment_noHeader", "Total" ];
</script> 
 
 
<script type="text/javascript"> 
$(document).ready(function(){
 
	$("ul.subnav").parent().append("<span></span>"); //Only shows drop down trigger when js is enabled - Adds empty span tag after ul.subnav
	
	$("ul.topnav li span").click(function() { //When trigger is clicked...
		
		//Following events are applied to the subnav itself (moving subnav up and down)
		$(this).parent().find("ul.subnav").slideDown('fast').show(); //Drop down the subnav on click
 
		$(this).parent().hover(function() {
		}, function(){	
			$(this).parent().find("ul.subnav").slideUp('slow'); //When the mouse hovers out of the subnav, move it back up
		});
 
		//Following events are applied to the trigger (Hover events for the trigger)
		}).hover(function() { 
			$(this).addClass("subhover"); //On hover over, add class "subhover"
		}, function(){	//On Hover Out
			$(this).removeClass("subhover"); //On hover out, remove class "subhover"
	});
 
});
</script> 
	<script type="text/javascript"> 
		$(document).ready(function() {
			$("a.zoom").fancybox();
 
			$("a.zoom1").fancybox({
				'overlayOpacity'	:	0.7,
				'overlayColor'		:	'#FFF'
			});
 
			$("a.zoom2").fancybox({
				'zoomSpeedIn'		:	500,
				'zoomSpeedOut'		:	500
			});
		});
	</script> 
 
 
<link rel="stylesheet" type="text/css" href="http://www.lifeofstrange.com/envirashop/wp-content/themes/enVirashop/js/skin.css" /> 
<link rel="stylesheet" type="text/css" href="http://www.lifeofstrange.com/envirashop/wp-content/themes/enVirashop/style.css" /> 
<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://www.lifeofstrange.com/envirashop/feed/" /> 
<link rel="alternate" type="text/xml" title="RSS .92" href="http://www.lifeofstrange.com/envirashop/feed/rss/" /> 
<link rel="alternate" type="application/atom+xml" title="Atom 0.3" href="http://www.lifeofstrange.com/envirashop/feed/atom/" /> 
<link rel="pingback" href="http://www.lifeofstrange.com/envirashop/xmlrpc.php" /> 
 
<title><%= title %></title> 
 
<link rel="alternate" type="application/rss+xml" title="enVirashop &raquo; About Us Comments Feed" href="http://www.lifeofstrange.com/envirashop/about-us/feed/" /> 
<link rel='stylesheet' id='wp-pagenavi-css'  href='http://www.lifeofstrange.com/envirashop/wp-content/themes/enVirashop/pagenavi-css.css?ver=2.50' type='text/css' media='all' /> 
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.lifeofstrange.com/envirashop/xmlrpc.php?rsd" /> 
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.lifeofstrange.com/envirashop/wp-includes/wlwmanifest.xml" /> 
<link rel='index' title='enVirashop' href='http://www.lifeofstrange.com/envirashop' /> 
<meta name="generator" content="WordPress 2.8.6" /> 
<meta name="generator" content="enVirashop 1.0" /> 
<meta name="generator" content="envira Framework Version 1.1.1" /> 
<link href="http://www.lifeofstrange.com/envirashop/wp-content/themes/enVirashop/styles/default.css" rel="stylesheet" type="text/css" /> 
<link href="http://www.lifeofstrange.com/envirashop/wp-content/themes/enVirashop/custom.css" rel="stylesheet" type="text/css" /> 
<link rel="shortcut icon" href="http://www.lifeofstrange.com/envirashop/wp-content/uploads/2009/11/envira-icon.png"/> 

<%= yield :head %>