<div id="headmenu"> 
	<div id="menu"> 
		<ul id="nav" class="wrap">
			<li class="page_item notfirst"><a href="/"><span><%=t('home')%></span></a></li>
			<li class="page_item page-item-1"><a href="/content/about" title=<%=t('about_us')%>><span><%=t('about_us')%></span></a></li>
			<li class="page_item page-item-2"><a href="/content/delivery" title=<%=t('delivery')%>><span><%=t('delivery')%></span></a></li>
			<li class="page_item page-item-3"><a href="/content/contacts" title=<%=t('contacts')%>><span><%=t('contacts')%></span></a></li>
		</ul>
	</div>
	<%= render "shared/taxonomies" %>	
</div>