<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>		
		<script type="text/javascript" src="http://www.lifeofstrange.com/envirashop/wp-content/themes/enVirashop/js/jquery.js"></script>
		<script type="text/javascript" src="http://www.lifeofstrange.com/envirashop/wp-content/themes/enVirashop/js/execute.js"></script>
		<script type="text/javascript" src="http://www.lifeofstrange.com/envirashop/wp-content/themes/enVirashop/js/simpleCart.js"></script>
		<script type="text/javascript" src="http://www.lifeofstrange.com/envirashop/wp-content/themes/enVirashop/js/jquery.jcarousel.pack.js"></script>
		<script type="text/javascript" src="http://www.lifeofstrange.com/envirashop/wp-content/themes/enVirashop/js/yahoo-dom-event.js"></script>
		<script type="text/javascript" src="http://www.lifeofstrange.com/envirashop/wp-content/themes/enVirashop/js/animation-min.js"></script>
		<script type="text/javascript" src="http://www.lifeofstrange.com/envirashop/wp-content/themes/enVirashop/js/main-javascript.js"></script>
		<link rel="stylesheet" type="text/css" href="http://www.lifeofstrange.com/envirashop/wp-content/themes/enVirashop/includes/fancybox/jquery.fancybox-1.2.6.css" media="screen" />
		<script type="text/javascript" src="http://www.lifeofstrange.com/envirashop/wp-content/themes/enVirashop/includes/fancybox/jquery.fancybox-1.2.6.pack.js"></script>
		<script type="text/javascript">
CartItem.prototype.shipping=function(){
	if(this.specifications){
		if( this.specifications == '2 Gig' ){
			return this.quantity*10.00;
		} else if( this.specifications == '4 Gig') {
			return this.quantity*15.00;
		} else if( this.specifications == '6 Gig') {
			return this.quantity*20.00;
		} else if( this.specifications == '12 Gig') {
			return this.quantity*30.00;
		} else {
			return this.quantity*10.00;
		}
	} else {
		return this.quantity*2.00;
	}
}
	simpleCart.email = "example@paypal.com"	
	simpleCart.checkoutTo = PayPal;
	simpleCart.currency = USD;
	simpleCart.cartHeaders = ["Name" , "Specifications", "Price" , "decrement_noHeader" , "Quantity", "increment_noHeader", "Total" ];
		</script>
		<script type="text/javascript"> 
$(document).ready(function(){
	$("ul.subnav").parent().append("<span></span>"); //Only shows drop down trigger when js is enabled - Adds empty span tag after ul.subnav
	$("ul.topnav li span").click(function() { //When trigger is clicked...
		//Following events are applied to the subnav itself (moving subnav up and down)
		$(this).parent().find("ul.subnav").slideDown('fast').show(); //Drop down the subnav on click
		$(this).parent().hover(function() {
		}, function(){	
			$(this).parent().find("ul.subnav").slideUp('slow'); //When the mouse hovers out of the subnav, move it back up
		});
		//Following events are applied to the trigger (Hover events for the trigger)
		}).hover(function() { 
			$(this).addClass("subhover"); //On hover over, add class "subhover"
		}, function(){	//On Hover Out
			$(this).removeClass("subhover"); //On hover out, remove class "subhover"
	});
});
		</script>
		<script type="text/javascript">
		$(document).ready(function() {
			$("a.zoom").fancybox();
			$("a.zoom1").fancybox({
				'overlayOpacity'	:	0.7,
				'overlayColor'		:	'#FFF'
			});
			$("a.zoom2").fancybox({
				'zoomSpeedIn'		:	500,
				'zoomSpeedOut'		:	500
			});
		});
		</script>
		<link rel="stylesheet" type="text/css" href="http://www.lifeofstrange.com/envirashop/wp-content/themes/enVirashop/js/skin.css" />
		<link rel="stylesheet" type="text/css" href="http://www.lifeofstrange.com/envirashop/wp-content/themes/enVirashop/style.css" />
		<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://www.lifeofstrange.com/envirashop/feed/" />
		<link rel="alternate" type="text/xml" title="RSS .92" href="http://www.lifeofstrange.com/envirashop/feed/rss/" />
		<link rel="alternate" type="application/atom+xml" title="Atom 0.3" href="http://www.lifeofstrange.com/envirashop/feed/atom/" />
		<link rel="pingback" href="http://www.lifeofstrange.com/envirashop/xmlrpc.php" />
		<title><%= title %></title>
		<link rel="stylesheet" id="wp-pagenavi-css" href="http://www.lifeofstrange.com/envirashop/wp-content/themes/enVirashop/pagenavi-css.css?ver=2.50" type="text/css" media="all" />
		<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.lifeofstrange.com/envirashop/xmlrpc.php?rsd" />
		<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.lifeofstrange.com/envirashop/wp-includes/wlwmanifest.xml" />
		<link rel="index" title="enVirashop" href="http://www.lifeofstrange.com/envirashop" />
		<link href="http://www.lifeofstrange.com/envirashop/wp-content/themes/enVirashop/styles/default.css" rel="stylesheet" type="text/css" />
		<link href="http://www.lifeofstrange.com/envirashop/wp-content/themes/enVirashop/custom.css" rel="stylesheet" type="text/css" />
		<link rel="shortcut icon" href="http://www.lifeofstrange.com/envirashop/wp-content/uploads/2009/11/envira-icon.png" />
	</head>
	<body>
		<div id="container">
			<%= render :partial => 'shared/header'%>
			<div id="content">
				<%= render :partial => 'shared/head_menu'%> 				
				<div class="wrap background">
					<!-- Feature Post Markup -->
					<div class="featurephoto">
						<%= link_to product_image(@featured_product), @featured_product, :style => "border: none;" %>
					</div>
					<div class="featuretext">
						<h1><%=@featured_product.name%></h1>
						<p><%= truncate(product_description(@featured_product), 120) %></p>
						<%= link_to "Подробнее", @featured_product, :class => "moreinfo" %>						
					</div>
					<!-- End Feature Post Markup -->
					<!-- Ribbon Markup -->
					<div class="ribbon blue-banner"><%=t('ribbon')%></div>
					<!-- End Ribbon Markup -->
					<div id="mycarousel" class="jcarousel-skin-tango jcarousel-container jcarousel-container-horizontal" style="display: block; ">
						<div class="jcarousel-prev jcarousel-prev-horizontal" style="display: block; "></div>
						<div class="jcarousel-next jcarousel-next-horizontal" style="display: block; "></div>
						<div class="jcarousel-clip jcarousel-clip-horizontal">
							<ul class="jcarousel-list jcarousel-list-horizontal" style="width: 1640px; left: 0px; ">
								<!-- Carousel Post Markup -->
								<% @products.each do |product| %>
									<li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-<%=product.id%> jcarousel-item-<%=product.id%>-horizontal" jcarouselindex="<%=product.id%>" style="">
										<%= link_to small_image(product, :style => "border:none;margin-bottom:20px;"), product  %>
										<div class="carouseltitle"><%= product.name %></div>
										<div class="carouselprice"><%= product_price(product) %></div>
									</li>								
								<% end %>
								<!-- End Carousel Post Markup -->
							</ul>
						</div>
					</div>
					<script type="text/javascript">
/**
 * We use the initCallback callback
 * to assign functionality to the controls
 */
function mycarousel_initCallback(carousel) {
    jQuery('.jcarousel-control a').bind('click', function() {
        carousel.scroll(jQuery.jcarousel.intval(jQuery(this).text()));
        return false;
    });
    jQuery('.jcarousel-scroll select').bind('change', function() {
        carousel.options.scroll = jQuery.jcarousel.intval(this.options[this.selectedIndex].value);
        return false;
    });
    jQuery('#mycarousel-next').bind('click', function() {
        carousel.next();
        return false;
    });
    jQuery('#mycarousel-prev').bind('click', function() {
        carousel.prev();
        return false;
    });
};
// Ride the carousel...
jQuery(document).ready(function() {
    jQuery("#mycarousel").jcarousel({
        wrap: 'both',
        scroll: 1,
        animation: 'fast',
        auto: '0',
       initCallback: mycarousel_initCallback,
        // This tells jCarousel NOT to autobuild prev/next buttons
        buttonNextHTML: null,
        buttonPrevHTML: null
    });
});
					</script>
				</div>
			</div>
			<%= render :partial => 'shared/footer'%>
			<!-- Wrap Background Div -->
		</div>
		<div id="fancy_overlay"></div>
		<div id="fancy_loading">
			<div></div>
		</div>
		<div id="fancy_outer">
			<div id="fancy_inner">
				<div id="fancy_close"></div>
				<div id="fancy_bg">
					<div class="fancy_bg" id="fancy_bg_n"></div>
					<div class="fancy_bg" id="fancy_bg_ne"></div>
					<div class="fancy_bg" id="fancy_bg_e"></div>
					<div class="fancy_bg" id="fancy_bg_se"></div>
					<div class="fancy_bg" id="fancy_bg_s"></div>
					<div class="fancy_bg" id="fancy_bg_sw"></div>
					<div class="fancy_bg" id="fancy_bg_w"></div>
					<div class="fancy_bg" id="fancy_bg_nw"></div>
				</div>
				<a href="javascript:;" id="fancy_left"><span class="fancy_ico" id="fancy_left_ico"></span></a><a href="javascript:;" id="fancy_right"><span class="fancy_ico" id="fancy_right_ico"></span></a>
				<div id="fancy_content"></div>
			</div>
		</div>
		<div id="fancy_title"><table cellspacing="0" cellpadding="0" border="0" summary="layout table">
				<tbody>
					<tr>
						<td class="fancy_title" id="fancy_title_left"></td>
						<td class="fancy_title" id="fancy_title_main">
							<div></div>
						</td>
						<td class="fancy_title" id="fancy_title_right"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>